<h1><%= @task.title%></h1>
<%= @task.details %>
<%= @task.completed ? "This task is done": "this task is pending" %>
<%=link_to "edit", edit_task_path  %>
<%= link_to "back to tasks", tasks_path %>
<%= link_to task_path(@task), method: :delete, data: {confirm: "Are you sure?"} do %> <i class="fas fa-trash"></i> <% end %>
